{{#data}}
{{# if url}}
<li> <a href="{{url}}">{{firstname}} {{lastname}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></li>
{{else}}
<li>{{firstname}} {{lastname}} {{age}} <a href="/signers/{{city}}">{{city}}</a></li>
{{/if}}
{{/data}}
